@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0rem;
}

::-webkit-scrollbar-track {
  background: var(--Dark-grey, #aeb1b7);

  border-radius: 6.25rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--Dark-grey, #5d6470);
  border-radius: 6.25rem;
}
